
.article{

  .profileArticle{
    padding: 10px;
    article{
      p{
        padding: 0;
      }

    }
  }

}

//-------------------------------------------------- Media querries pour tablette
@media screen and (min-width: $breakpoint-sp) {
.article div{
  max-height: 500px;
  display: flex;
  flex-direction: row;

}

}