//-------------------------------------------------- Hero
.banniere {
  background: url("../images/bar_raemkt_c_scale,w_320.png") no-repeat fixed center top $white;
  height: $size-vpHero;

  div{
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color:$white;
      padding: 0;

    }
  }


}

.banniere .flex-center {
  height: $size-vpHero;
}

//-------------------------------------------------- Media querries
@media screen and(min-width: $breakpoint-md) {
  @media screen and(min-resolution: 192dpi) {
    .banniere {
      background: url("../images/bar_raemkt_c_scale,w_1596ng") no-repeat fixed center top $white;
    }
  }
}
@media screen and(min-width: $breakpoint-lg) {
  @media screen and(min-resolution: 192dpi) {
    .banniere {
      background: url("../images/bar_raemkt_c_scale,w_2142.png") no-repeat fixed center top $white;
    }
  }
}

