//-------------------------------------------------- Media querries pour tablette
.connexion-modale {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: flex-start;

  &.open {
    display: flex;

    .connexion {
      top: 30px;
      margin: 0 5px;
    }
  }

  .connexion {
    position: relative;
    top: -100px;
    background-color: $color-light;
    max-width: 600px;

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: none;
      box-shadow: 2px 2px 4px #000;
      border-radius: 50%;

      &:hover {
        background-color: $gray-200;
        box-shadow: 1px 1px 2px #000;
      }
    }

    h2 {
      color: $color-dark;
    }

    .col-gauche, .col-droite {
      flex: 1 1 50%;
      padding: 20px;
    }

  }

  .form-connexion {
    display: flex;
    flex-direction: column;

    input[type="text"], input[type="password"] {
      border: none;
      outline: none;
      border-bottom: 5px solid $color-principal;
      margin-bottom: 15px;
      padding-left: 10px;

      &:hover {
        border-bottom: 5px solid $color-secondary;
      }
    }

    label {
      font-family: $ff-title;
      color: $color-dark;
      font-size: 18px;
      text-transform: uppercase;
    }

    input[type="text"]:invalid, input[type="password"]:invalid {
      box-shadow: none;
    }

    .btn-envoyer {
      padding: 10px;
      background-color: $color-principal;
      color: $white;

      &:hover {
        background-color: $color-secondary;
      }
    }

  }

}

//-------------------------------------------------- Media querries pour web
@media screen and (min-width: $breakpoint-md) {
  .connexion-modale {
    .connexion {
      display: flex;

      h2 {
        margin-top: 0;
      }

      .col-droite {
        padding: 100px;
      }

      .btn-close {
        right: -15px;
        top: -15px;
      }

    }
  }

}

