//-------------------------------------------------- Pied de page
footer{
  margin-top: 20px;
  background-color:  $color-light;
  display: flex;
  justify-content: space-between;


  p{
    color: $color-text-dark;
    padding: 20px;

    i:hover{
      color: $color-principal;
    }
  }

}