//---------------------------- Formulaire d'inscription de la page inscription
.formulaire .flex-contenu div {
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;

  label {
    padding-top: 25px;
    font-family: $ff-title;
    color: $color-secondary;
    font-size: 18px;
    text-transform: uppercase;
  }

  input, textarea {
    color: $color-text-light;
    border-bottom: 5px solid $color-principal;

    &:hover {
      border-bottom: 5px solid $color-secondary;
    }

  }

  .btn-enregister {
    color: $white;
    background-color: $color-principal;
    margin-top: 25px;
    padding: 10px 0;
    width: 100px;
    align-self: center;

    &:hover {
      background-color: $color-secondary;
    }
  }

}

//-------------------------------------------------- Media querries pour tablette
@media screen and(min-width: $breakpoint-sm) {
  .formulaire .flex-contenu div {
    width: 49%;
  }
}

//-------------------------------------------------- Media querries pour web
@media screen and(min-width: $breakpoint-md) {
  .formulaire.inscription .flex-contenu div {
    width: 32%;
  }
}

