
.header-page {
  background-color: $color-bg-dark;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0 0 5px;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      text-align: center;

      li {
        position: relative;

        & > ul {
          display: none;
          background-color: $gray-700;
        }

        &:hover > ul {
          display: block;
        }
      }
    }
  }
}

//-------------------------------------------------- Media querries pour tablette
@media screen and(min-width: $breakpoint-sm) {
  .header-page {

    nav {
      flex-direction: row;
      justify-content: space-between;

      ul {
        width: auto;
        display: flex;

        a {
          padding: 5px 10px;
        }

        li > ul {
          position: absolute;
          top: 100%;
          left: 10px;
        }

      }

    }

  }

}






