//----------------------------Section pour les articles: produit de l'index
//Utile pour les media querri
a {
  flex-basis: 100%;
}

// Styles des produits
.produit a {
  margin-bottom: 20px;

  & .information {
    color: $color-principal;
    text-align: start;
    padding-top: 0;
  }
//-----------------------------------hover d'un article general
  &:hover {
    transition: .3s all;
    transform: scale(1.1);
    opacity: 1;
    background-color: $color-light;
    color: $color-dark;

    h3, .information, span {
      color: $color-dark;
    }

  }
//---------------------------

  p {
    text-align: center;

    span {
      color: $color-principal;

      &:hover {
        text-decoration: underline;
      }
    }

  }

}




//-------------------------------------------------- Media querries pour tablette
@media screen and (min-width: $breakpoint-sm) {
  a {
    flex-basis: 49%;

  }

  .flex-contenu {
    padding: 10px;

  }

}

//-------------------------------------------------- Media querries pour web
@media screen and (min-width: $breakpoint-md) {
  a {
    flex-basis: 32%;
  }

}
