//---------------------------- Sections
.profile-page{

  .contenu{
    img{
      margin-top: 0;
      margin-bottom: 20px;


    }


  }


  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
      margin-top: 20px;
      padding: 10px 20px;
      background-color: $color-principal;
      color: $white;
      &:hover{
        background-color: $color-secondary;
        transition: .3s all;
      }
    }


    &-image{
      height: 150px;
      width: 150px;
      border: solid 4px $color-secondary;
      border-radius: 50%;
      margin-bottom:20px;
      overflow:hidden;
    }


  }
}

