// STYLE DE BASE SUR LA BALISE BODY

body{

  @include font($ff-normal, $fz-normal, $color-text-light, $lh-normal);

  background-color: $color-bg-dark;
p{
  padding: 10px;
  text-align: justify;
  margin: 0;
}
}



