// LES STYLES DE BASE DES BALISES <h>

h1 {
  font: bolder 30px Oswald, sans-serif;
  color: $color-principal;
}

h2 {
  font-size: rem(42);
  color: $color-principal;
  font-family: $ff-title;
  text-transform: uppercase;
  text-align: center;
}

h3 {

  font: bolder 20px Oswald, sans-serif;
  color: $color-secondary;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

}

h4 {
  font-family: inherit;
  font-size: 30px;

  padding: 0;
  margin: 0;
}
