//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

$max-width: 1000px;
$size-vpHero:  400px;

/// Dimension pour les media query
$breakpoint-sp: 920px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


//Dimension pour formulaire
$base-input-height:                             36px ;
$base-input-border-size:                        1px ;
$base-input-border-radius:                      10px ;

