//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);
$fz-small: rem(13);
$lh-normal: 1.5;

/// Font family

/// Font family

$ff-normal: Lato, sans-serif;
$ff-title: Oswald, sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
